In [36]:
%%writefile info.py
username = "postgres"
password = "4801652179ip."

Overwriting info.py

In [37]:
import pandas as pd
from info import username,password
from sqlalchemy import create_engine,inspect

In [38]:
csv_file = "Resources/2019_nC0v_20200121_20200126 - SUMMARY.csv"
customer_data_df = pd.read_csv(csv_file)
customer_data_df["Suspected"].fillna("0.00", inplace = True) 
customer_data_df["Confirmed"].fillna("0.00", inplace = True)
customer_data_df["Recovered"].fillna("0.00", inplace = True)
customer_data_df["Deaths"].fillna("0.00", inplace = True)
customer_data_df["Province/State"].fillna("Unknown", inplace = True)
customer_data_df.head()

,Province/State,Country,Date last updated,Confirmed,Suspected,Recovered,Deaths
0,Shanghai,Mainland China,1/21/2020,9,10,0.00,0.00
1,Yunnan,Mainland China,1/21/2020,1,0.00,0.00,0.00
2,Beijing,Mainland China,1/21/2020,10,0.00,0.00,0.00
3,Taiwan,Mainland China,1/21/2020,1,0.00,0.00,0.00
4,Jilin,Mainland China,1/21/2020,0.00,1,0.00,0.00

In [39]:
new_customer_data_df = customer_data_df[["Country","Date last updated","Confirmed","Suspected","Deaths"]].copy()
new_customer_data_df.head()

          Country Date last updated Confirmed Suspected Deaths
0  Mainland China         1/21/2020         9        10   0.00
1  Mainland China         1/21/2020         1      0.00   0.00
2  Mainland China         1/21/2020        10      0.00   0.00
3  Mainland China         1/21/2020         1      0.00   0.00
4  Mainland China         1/21/2020      0.00         1   0.00

In [40]:
csv_fi = "Resources/2019_nC0v_20200121_20200126_cleaned.csv"
customdf = pd.read_csv(csv_fi)
customdf.head()
newdf = customdf[["Country","Date last updated","Confirmed","Suspected","Deaths"]].copy()
newdf.head()

          Country Date last updated  Confirmed  Suspected  Deaths
0  Mainland China         1/21/2020        9.0       10.0     0.0
1  Mainland China         1/21/2020        1.0        0.0     0.0
2  Mainland China         1/21/2020       10.0        0.0     0.0
3          Taiwan         1/21/2020        1.0        0.0     0.0
4  Mainland China         1/21/2020        0.0        1.0     0.0

In [41]:
rds_connection_string = f"{username}:{password}@localhost:5432/Corona_Virus"
engine = create_engine(f'postgresql://{rds_connection_string}')
inspector = inspect(engine)
inspector.get_table_names()

['corona_virus', 'corona_virus_2']

In [42]:
pd.read_sql_query('select * from corona_virus', con=engine).head()

   index         Country Date last updated  Confirmed  Suspected  Deaths
0      0  Mainland China         1/21/2020        9.0       10.0     0.0
1      1  Mainland China         1/21/2020        1.0        0.0     0.0
2      2  Mainland China         1/21/2020       10.0        0.0     0.0
3      3          Taiwan         1/21/2020        1.0        0.0     0.0
4      4  Mainland China         1/21/2020        0.0        1.0     0.0

In [43]:
pd.read_sql_query('select * from corona_virus_2', con=engine).head()

,index,Province/State,Country,Date last updated,Confirmed,Suspected,Recovered,Deaths
0,0,Shanghai,Mainland China,1/21/2020,9.0,10.0,0.00,0.00
1,1,Yunnan,Mainland China,1/21/2020,1.0,0.00,0.00,0.00
2,2,Beijing,Mainland China,1/21/2020,10.0,0.00,0.00,0.00
3,3,Taiwan,Mainland China,1/21/2020,1.0,0.00,0.00,0.00
4,4,Jilin,Mainland China,1/21/2020,0.00,1.0,0.00,0.00